/* Default Style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Grid Container Style */
.grid-container{
    display: grid;
    grid: "header header" auto
    "nav nav" auto
    "main aside" 1fr
    "footer footer" auto
    /1fr 0.3fr;
    gap: 1rem;
    background-color: lightcyan;
    padding: 1rem;
    min-height: 100vh;
}

/* Grid Item Style */
.grid-item{
    background-color: #f1f1f1;
}

/* Header Style */
.header{
    grid-area: header;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    background-color: lightgoldenrodyellow;
    padding: 1rem;
}
.header h1{
    font-size: 3rem;
}

/* Navigation Menu Style */
.nav{
    grid-area: nav;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #333;
    padding: 1rem;
}
.nav ul{
    list-style-type: none;
    display: grid;
    grid: none/auto auto auto auto auto;
    gap: 1rem;
}
.nav ul li a{
    text-decoration: none;
    color: white;
}
.nav ul li a:hover{
    color: #f1c40f;
}

/* Main Content Style */
.main{
    grid-area: main;
    display: grid;
    gap: 1rem;
    background-color: lightslategray;
    padding: 1rem;
}
.main section{
    display: grid;
    background-color: lightgrey;
    padding: 2rem;
}
.main section article ul{
    margin-top: 1rem;
}
.main section article .side{
    display: grid;
    justify-content: end;
}

/* Sidebar Style */
.aside{
    grid-area: aside;
    display: grid;
    background-color: lightslategray;
    padding: 1rem;
}
.aside .aside-container{
    display: grid;
    justify-content: center;
    align-content: start;
    background-color: lightgray;
    padding: 1rem;
}
.aside ol{
    display: grid;
    gap: 1rem;
    padding: 0.5rem;
}
.aside a{
    text-decoration: none;
    color: red;
}
.aside a:hover{
    color: #f1c40f;
}

/* Footer Style */
.footer{
    grid-area: footer;
    display: grid;
    background-color: #333;
    color: #fff;
}
.footer .footer-top{
    display: grid;
    grid: none/auto auto;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-evenly;
    align-content: center;
}
.footer ul{
    list-style-type: none;
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
}
.footer ul a{
    text-decoration: none;
    color: #fff;
}
.footer ul a:hover{
    color: #f1c40f;
}
.footer .footer-bottom{
    display: grid;
    padding: 1rem;
    grid: none/auto;
    justify-content: center;
    align-content: center;
}

/* Responsive Style */
@media (max-width:768px){
    .grid-container{
        grid: "header" auto
        "nav" auto
        "main" 1fr
        "aside" auto
        "footer" auto
        /1fr;
    }

    .nav ul{
        display: grid;
        grid: none/auto;
        justify-content: center;
        align-content: center;
    }

    .footer .footer-top{
        display: grid;
        grid: none/auto;
        justify-content: center;
        align-content: center;
    }

    .footer .footer-bottom{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-content: center;
    }
}