/* /Universal Style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Grid Container Style */
.grid-container{
    display: grid;
    grid: "header" auto
            "main" 1fr
            "footer" auto
            /1fr;
    min-height: 100vh;
}

/* Header Style */
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
}
.nav ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav ul a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

/* Main Style */
.main{
    grid-area: main;
}
.section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 1rem;
    background-color: white;
}
.article{
    list-style-position: inside;
    background-color: azure;
    box-shadow: 0px 0px 10px black;
}
.article1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 1rem;
}
.article1 .left{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}
.article2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 1rem;
}
.article2 .left{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}
.article img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    transition: all 0.6s linear 0s;
}
.article img:hover{
    transform: scale(1.1);
}

/* Footer Style */
.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
}

/* /Responsive Style */
@media (max-width:768px){
    .grid-container{
        grid: "header" auto
                "main" 1fr
                "footer" auto
                /1fr;
    }

    .header{
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }

    .nav ul{
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }
}

@media (max-width:480px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}