*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray;
}

.card{
    width: 25rem;
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    background-color: white;
}

.image img{
    width: 24rem;
    border-radius: 1rem;
}

.spantext{
    width: 24rem;
    display: flex;
    gap: 1rem;
}
.spantext span{
    border: 1px solid gray;
    border-radius: 4rem;
    padding: 0.5rem;
}

.heading{
    width: 24rem;
}

.heading h2{
    color: rgba(20, 17, 17, 0.792);
}

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.link{
    background-color: lightblue;
    padding: 0.5rem;
    border-radius: 5rem;
}

.link a{
    text-decoration: none;
}