*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid: "main"
            /1fr;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.main{
    grid-area: main;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.card1{
    width: 22rem;
    height: 32rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1.8rem;
    padding: 1rem;
}
.card1 img{
    height: 17rem;
    border-radius: 2rem;
}
.card1 h2{
    font-weight: bold;
    font-size: 1.5rem;
}
.card1 p{
    font-size: 1.2rem;
}

.card2{
    width: 22rem;
    height: 32rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.1rem;
}
.card2 img{
    width: 22rem;
    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.card2 .text{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
    width: 22rem;
    text-align: center;
}
.text2 {
    width: 18rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 4rem;
    background-color: lightblue;
    border-radius: 1rem;
}
.text2t{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1rem;
}
.text2 img{
    width: 2rem;
    height: 2rem;
}
.card2 .button{
    width: 18rem;
    height: 3rem;
    background-color: rgb(17, 17, 92);
    color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size: 1.2rem;
}
.card2 .cancelorder a{
    text-decoration: none;
    color: rgb(58, 53, 53);
    font-weight: bold;
    font-size: 1.3rem;
}

.card3{
    width: 60rem;
    height: 30rem;
    display: flex;
}
.card3 .left{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: lightcoral;
}
.left1 h2{
    font-weight: bold;
}
.left2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left3{
    display: flex;
    gap: 4rem;
    align-items: center;
}
.bold{
    font-weight: 900;
}
.card3 img{
    width: 30rem;
    height: 30rem;
}