*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid: "header" auto
            "main" 1fr
            "aside" auto
            "footer" auto
            /1fr;
    min-height: 100vh;
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.aside{
    grid-area: aside;
}

.footer{
    grid-area: footer;
}