/* Default Style of Page */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Flexbox Container Style */
.flex-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: dodgerblue;
    padding: 1rem;
    min-height: 100vh;
}

/* Flexbox Item Style */
.flex-item{
    background-color: #f1f1f1;
    padding: 1rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}
.nav ul a{
    text-decoration: none;
    color: #333;
}
.nav ul a:hover{
    color: #ddd;
    transition: color 0.3s ease;
}

/* Flexbox Second Container Style */
.flex-container2{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 1rem;
}

/* Flexbox Second Container Item Style */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}
.aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer-container-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
    margin: 1rem;
}
.footer-item ul{
    list-style-type: none;
}
.footer-item ul a{
    text-decoration: none;
}

.footer-container-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Flexbox Responsive Style */
@media (max-width: 768px){
    .nav ul{
        flex-direction: column;
    }
    .flex-container2{
        flex-direction: column;
    }
    .footer-container-top, .footer-container-bottom{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}