*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid: "header" auto
            "main" 1fr
            "aside" auto
            "footer" auto
            /1fr;
    height: 110vh;
    background-color: black;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: pink;
    position: sticky;
    top: 0;
}

.main{
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: green;
}
.section{
    padding: 5rem;
    margin: 2rem;
}
.section1{
    background-color: darksalmon;
}
.section2{
    background-color: cornflowerblue;
}

.aside{
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
p{
    border: 1px solid white;
    border-radius: 3rem;
    padding: 3rem 6rem;
    margin: 1rem 2rem 8rem;
    font-size: 1.5rem;
}

.chat{
    color: white;
    position: fixed;
    bottom: 4rem;
    right: 0;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
}