<!DOCTYPE html>
<html lang="en-IN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This Page About HTML and CSS Layout Website">
    <meta name="keywords" content="HTML, CSS">
    <meta name="author" content="Nitin Bhardwaj">
    <meta name="robots" content="index, follow">
    <title>Layout Website</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="grid-container">
        <header class="header">Header</header>

        <main class="main">
            <section class="section section1">Section1</section>
            <section class="section section2">Section2</section>
        </main>

        <aside class="aside">
            <p>
                Welcome to nbcodeblog Website
            </p>
        </aside>

        <div class="chat">
            Chat Us
        </div>

        <footer class="footer">Footer</footer>
    </div>
</body>
</html>